<!-- <ion-header>
  <ion-navbar>
    <ion-title>AdminHome</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-5>
        <h1 class="font size">Ongoing Polls</h1>
      </ion-col>
      <ion-col col-7>
        <img src="assets/imgs/icon_one.png">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let event of events; let i=index " (click)="eventSelected(event)"
        class="card-background-page">

        <ion-card>
          <img src="{{event.Images}}">
          <div class="card-title">{{ event.EventName }}</div>
        </ion-card>

        <!-- <ion-card>
          <ion-card-header class="colour font">
            {{ event.EventName }}            [style.backgroundColor]="colours"
            <img src="{{event.Images}}">
          </ion-card-header>
        </ion-card> -->

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-list>
    <button ion-item *ngFor="let event of events" (click)="eventSelected(event)">
      {{ event.EventName }}
    </button>
  </ion-list> -->
  <ion-fab top left padding>
    <button ion-fab mini color="danger" (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
    </button>
    </ion-fab>
</ion-content>